.gradle
gradle
.idea
build
gradlew*
*.iml
*.jar
.jqwik-database

# vscode

.classpath
*.class
bin
.project
.vscode
.settings

# avoid mistakenly adding proprietary files
*.rsl
*.xml
*.railml
*.railml3
