.gradle
gradle
.idea
build
gradlew*
*.iml
*.jar
.jqwik-database

# vscode
*.class
.classpath
.project
.vscode
.settings
bin

# avoid mistakenly adding proprietary files
*.rsl
*.xml
*.railml
*.railml3
